<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Error page</title>
  </head>
  <style>
    body{
      background-color: lightgray;

    }
    .error-container{
      display: flex;
      width: auto;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      padding: 200px 20px;
      background-color: lightgray;
    }

  </style>
  <body>
  <div class="error-container">
    <h1>Page Not Found</h1>
    <h2><a th:href="@{/}">Go Back</a></h2>
  </div>
  </body>
</html>